@model VacationPlanningAssistant.Models.TransportDetail

@{
    ViewBag.Title = "Details";
}

<h2>Reservation Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransportId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationNumber)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default" @Html.ActionLink("Edit", "Edit", new { id = Model.TransportId }) |
    <a class="btn btn-default"  @Html.ActionLink("Back to List", "Index")
</p>
