@model VacationPlanningAssistant.Models.DiningDetail

@{
    ViewBag.Title = "Details";
}

<h2>Reservation Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiningId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiningId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfRestaurant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfRestaurant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationNumber)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default" @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a class="btn btn-default"   @Html.ActionLink("Back to List", "Index")
</p>
