@using VacationPlanningAssistant.Data
@{
    IEnumerable<Transport> transport = ViewData["Transports"] as IEnumerable<Transport>;
    IEnumerable<Accommodation> accommodation = ViewData["Accommodations"] as IEnumerable<Accommodation>;
    IEnumerable<Dining> dining = ViewData["Dinings"] as IEnumerable<Dining>;
}

@{
    ViewBag.Title = "Today";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */

        .sidenav {
            height: auto;
            padding: 15px;
        }

        .row.content {
            height: auto;
        }
        }
    </style>
</head>

<body>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Transportation", "Index", "Transport")</li>
                        <li>@Html.ActionLink("Accommodation", "Index", "Accommodation")</li>
                        <li>@Html.ActionLink("Dining", "Index", "Dining")</li>
                        <li>@Html.ActionLink("Today", "Index", "Today/Today")</li>
                    }
                </ul>
            </div>
            <div class="col-sm-10 text-left">
                <h2>Today's Reservations</h2>
                <div class="col-md-12">
                    <h4>Transportation</h4>
                    <table class="table table-hover">
                        <tr>
                            <th>
                                Departure
                            </th>
                            <th>
                                Reservation Number
                            </th>
                        </tr>
                        @foreach (Transport item in transport)
                        {

                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Departure)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReservationNumber)
                                </td>
                            </tr>

                        }
                    </table>
                </div>

                <div class="col-md-12">
                    <h4>Accommodations</h4>
                    <table class="table table-hover">
                        <tr>
                            <th>
                                Name of Hotel
                            </th>
                            <th>
                                Check-In
                            </th>
                            <th>
                                Reservation Number
                            </th>
                        </tr>
                        @foreach (Accommodation item in accommodation)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CheckIn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReservationNumber)
                                </td>
                            </tr>

                        }
                    </table>
                </div>
                <div class="col-md-12">
                    <h4>Dining Reservations</h4>
                    <table class="table table-hover">
                        <tr>
                            <th>
                                Name of Restaurant
                            </th>
                            <th>
                                Location of Restaurant
                            </th>
                            <th>
                                Reservation Time
                            </th>
                            <th>
                                Reservation Number
                            </th>
                        </tr>
                        @foreach (Dining item in dining)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameOfRestaurant)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReservationTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReservationNumber)
                                </td>
                            </tr>

                        }
                    </table>
                </div>
            </div>
        </div>


</body>
</html>









